*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#title{
    width: 100%;
    height: 100px;
}

.feature{
    width: 30%;
    height: 100%;
    float: left;
}
.feature h3{
    display: inline-block;
    text-transform: uppercase;
    padding-top: 35px;
    padding-left: 150px;
    font-weight: normal;
}

.feature a{
    text-decoration: none;
    padding-left: 30px;
    color: rgb(106, 160, 207);
}

.tieude{
    display: inline-block;
    padding: 30px;
    padding-left: 200px;
    text-transform: uppercase;
}

#page1{
    width: 10%;
    height: 610px;
    margin-top: 30px;
    background-color: rgb(221, 221, 221);
    float: left;

}

.menu_list li{
    padding: 10px 0 0 5px ;
    width: 100%;
    height: 50px;
}

.menu_list li:hover{
    background-color: aqua;
}

.menu_list a{
    text-decoration: none;
    color: black;
}
/* ----page 2 -----------*/
#page2{
    width: 90%;
    height: 100px;
    float: right;
    margin-top: 30px;
    float: left;
    /* margin-left: 0px; */
}
.tab-item{ 
    list-style: none;
    padding-left: 30px;
    background: rgb(73, 80, 90);
    border-bottom: 1px solid rgb(80, 85, 93);
    padding: 10px 30px;
   
}
 li.tab-item:hover{ 
   background-color: rgb(22, 130, 186);
   
}



label{
    cursor: pointer ;
    display: block;
    font-size: 20px;
    color: white;
    border-bottom: 1px solid black;
    padding: 10px 30px;
}

#list-quanly{
    width: 100%;
    height: 35%;
}

.quanly{
    width: 20%;
    height: 100px;
    border-bottom: 5px solid white;
    border-right:5px solid white ;
    float: left;
}

.quanly h3{
    padding: 30px 0px 0px 50px;
    font-size: 14px;
    color: white;
}

.quanly a{
    text-decoration: none;
}
.quanly i{
    padding: 10px;
    color: white;
}

#quanlysp{
    width: 100%;
    height: 610px;
}

#quanlysp h4{
    display: inline-block;
    margin-top: 20px;
    padding: 10px 10px;
    background: rgb(0, 104, 201);
    color: white;
}
#page h3{
    font-size: 20px;
    color: rgb(0, 99, 199) ;
}

.tbl-main{
    width: 100%;
    height: 10px;
}

.tr1{
    width: 100%;
    height: 30px;
    background: rgb(0, 110, 203);
    text-align: center;
    color: white;
}

tr{
    text-align: center;
}

/* #quanlysp{
    display: none;
}

.tab-pane.active {
    display: block;
  } */

/* -----------thêm---------------- */


#add{
    width: 100%;
    height: 300px;
    background: wheat;

}

#add h1{
    text-align: center;
}
#add-tbl{
    float: left;
    margin-left: 100px;
}

.add-ip{
    margin-left: 50px;
    margin-top: 10px;
}

.add-ip h3{
    display: inline-block;
}

.add1 input{
    width: 200px;
    height: 30px;
    
}
.btnAdd{
   padding: 20px;
   float: left;
   margin-left: 150px;
   margin-top: 20px;
}

.btnThoat{
    padding: 20px;
    float: right;
    margin-right: 150px;
    margin-top: 20px;
}

#add{
    display: none;
    position: fixed;
    right: 30%;
    top: 35%;
    padding: 10px;
    width: 500px;
    height: 300px;
}

.addSp{
    width: 35%;
    height: auto;
    float: left;
    background-color:antiquewhite;
}

/* .addSp button{
    float: left;
} */
.product_sp{
    width: 100%;
    height: 20%;
    

}
.product_sp h3{
    padding-left: 20px;
    padding-top: 10px;
}
.product_sp input{
    width: 90%;
    height: 30px;
    margin-left: 20px;
    margin-top: 5px;
}

/* .addSp1{
    width: 50%;
    height: 80%;
    float: left;

}
.addSp2{
    width: 50%;
    height: 80%;
    float: right;
} */
.tbl_sp{
    width:55%;
    height: 100%;
    margin-left: 5px;
    float: right;
}
.listSP{
    width: 65%;
    height: 500px;
    float: right;
}

.btnCN{
    width: 80px;
    height: 50px;
    margin-left: 10%;
}
